<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Algoritma K-Medoids</title>

    <!-- Custom fonts for this template-->
    <link
      href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href="{{url_for('static', filename='css/sb-admin-2.min.css')}}"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        style="background-color: #3C4048"
        class="navbar-nav sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/"
        >
          <div class="sidebar-brand-icon">
            <li class="nav-item has-treeview">
            <i class="nav-icon fas fa-book"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Algoritma K-Medoids</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="nav-icon fas fa-th"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->


        <!-- Heading -->
        

        <!-- Nav Item - preprocessing -->
        <li class="nav-item">
          <a class="nav-link" href="/upload">
            <i class="fas fa-fw fa-table"></i>
            <span>Upload</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cleaning">
            <i class="fas fa-fw fa-table"></i>
            <span>Preprocessing</span></a
          >
        </li>

        <!-- Nav Item - Transformasi -->
        <li class="nav-item">
          <a class="nav-link" href="/transformasi">
            <i class="fas fa-fw fa-table"></i>
            <span>Transformasi</span></a
          >
        </li>

        <!-- Nav Item - Cluster -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area" aria-disabled="true"></i>
            <span>Cluster</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content" style="background-color: #EAEAEA">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light topbar mb-4 static-top"
            style="background-color: #B2B2B2"
          >
          <div class="navbar-nav mx-auto">
          </div>
          
            <!-- Sidebar Toggle (Topbar) -->
            <!--<button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>-->
          </nav>
          <!-- End of Topbar -->

          <!-- isi konten si sini -->

          <!-- 404 Error Text -->
          <div class="col-xl-6 col-lg-6 justify-content-center" style="position: relative; height: 180px;">
              </div>
          <div class="text-center">
            <div
              class="d-flex flex-column-reverse flex-md-row align-items-center"
            >

              <div class="col-xl-12 col-lg-6 mb-5">
                
                <div class="container px-10 text-center">
                  <h3 class="fw-bolder" style="color: #000000">
                    PENERAPAN DATA MINING DALAM MENGELOMPOKKAN DATA Usaha Mikro, Kecil, dan Menengah (UMKM)  DI KOTA YOGYAKARTA MENGGUNAKAN METODE K-MEDOIDS
                  </h3></div>

                  
                  <br>
                  <br><div class="col-xl-2 col-lg-6 mb-4 mx-auto">
                  <a href="/upload"><button type="button" class="btn btn-block btn-primary">Upload</button></a>
                </div>

              <div class="col-xl-6 col-lg-6 justify-content-center" style="position: relative; height: 100px;">
              </div>
            </div>
          </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="mt-5 sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Andikha Arif Eka Putra 2022</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>

    <!-- Page level plugins -->
    <script src="{{url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{url_for('static', filename='js/demo/chart-area-demo.js')}}"></script>
    <script src="{{url_for('static', filename='js/demo/chart-pie-demo.js')}}"></script>
    <script src="{{url_for('static', filename='js/demo/chart-bar-demo.js')}}"></script>
  </body>
</html>
